<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Max Kretschmann</title>
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="lib/js/jquery-3.6.1.min.js"></script>

    <!-- Page Loader-->
    <script>
      $(document).ready(function () {
        $('#navbar').load('./pages/navbar.html');
      });
    </script>

    <!-- Page Loader End-->
    <!-- wrapper -->
    <div class="wrapper mx-auto">
      <!-- navbar -->
      <div id="navbar"></div>
      <!-- navbar end-->
    </div>
    <!-- wrapper end-->

    <!-- Load at the end-->
    <script src="lib/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
